Repository SuDaJo/MusicPlayer, pull requests merged in 2023-01, with the labels that each got.

#2 :thinking: Test: pr테스트 진행
  test.html
Labels: Chore

#4 :label: MarkUp: 전체 페이지 마크업 진행
  index.html
  test.html
Labels: MarkUp, Pair

#7 Style/issue 05
  assets/css/reset.css
  assets/css/style.css
  assets/image/album-img.png
  assets/image/icon-arrow-left.svg
  assets/image/icon-backward.svg
  assets/image/icon-forward.svg
  assets/image/icon-home-active.svg
  assets/image/icon-home.svg
  assets/image/icon-music-active.svg
  assets/image/icon-music.svg
  assets/image/icon-pause.svg
  assets/image/icon-play-white.svg
  assets/image/icon-play.svg
  assets/image/icon-playList-active.svg
  assets/image/icon-playList.svg
  assets/image/icon-plus.svg
  assets/image/icon-repeat.svg
  assets/image/icon-rotate-ccw.svg
  assets/image/icon-search-active.svg
  assets/image/icon-search.svg
  assets/image/icon-trash.svg
  assets/image/logo-title.png
  assets/image/logo.png
  index.html
Labels: Style, Chore, MarkUp, Pair

#8 Style/issue 05
  assets/css/reset.css
  assets/css/style.css
  assets/image/icon-play-gray.svg
  index.html
Labels: Style, Chore, MarkUp, Pair

#9 Style/issue 05
  assets/css/style.css
  assets/image/album-title-img.png
  assets/image/icon-trash.svg
  index.html
Labels: Style, MarkUp, Pair

#10 Style/issue 05
  assets/css/reset.css
  assets/css/style.css
  index.html
Labels: Style, MarkUp, Pair

#11 Style/issue 05
  assets/css/reset.css
  assets/css/style.css
  index.html
Labels: Style, MarkUp, Pair

#13 Chore/issue 12
  assets/css/chart.css
  assets/css/home.css
  assets/css/myplaylist.css
  assets/css/navbar.css
  assets/css/playcontrol.css
  assets/css/search.css
  assets/css/style.css
  index.html
Labels: Chore, Pair

#15 :hammer: Chore : express 설치 및 server.js 파일 생성
  .gitignore
  package-lock.json
  package.json
  server.js
Labels: Chore, Pair
